# db migration configuration
/database.sqlite
/.phinx
/phinx.secrets
/phinx.yml

# unit testing artifacts
/.phpunit/
/phpunit.xml

# compiled configuration, package manager installation
/.doctrine/
/composer.lock
/vendor/

# environment
/config/.env
