paths:
    migrations: '%%PHINX_CONFIG_DIR%%/migrations'

migration_base_class: 'Hal\Core\Database\PhinxMigration'

environments:
    default_migration_table: 'phinx'
    default_database: 'dev_postgres'

    dev_sqlite:
        adapter: 'sqlite'
        name: './database.sqlite'

    dev_postgres:
        adapter: 'pgsql'
        host: 'localhost'
        name: 'hal'
        user: 'hal'
        pass: ''
        port: 5432
        charset: 'utf8'

    dev_mysql:
        adapter: 'mysql'
        host: '127.0.0.1'
        name: 'hal'
        user: 'root'
        pass: ''
        port: 3306
        charset: 'utf8'
